@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Approx. Maternal Health Fund brand Colors...
  ~Orange: #de4838
  ~Blue: #71c2c3
  ~Grey: #6a5d4e
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, -10px);
  }
  50% {
    transform: translate(0, -20px);
  }
  75% {
    transform: translate(-3px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-floating {
  animation: floating 5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}
